@{
    ViewData["Title"] = "Thống Kê";
}

<h3>Thống kê</h3>

<div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ThongKe" asp-action="DoanhThu">Thống kê doanh thu theo tháng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ThongKe" asp-action="TopSanPham">Top 10 sản phẩm bán chạy nhất</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ThongKe" asp-action="TopKhachHang">Khách hàng thân thiết</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ThongKe" asp-action="KhachHang">Hóa đơn của khách hàng</a>
        </li>
    </ul>
</div>
