@{
    ViewData["Title"] = "Trang chủ";
}

<h3>Trang chủ Admin</h3>
<div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TaiKhoan">Quản lý tài khoản</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SanPham">Quản lý sản phẩm</a>
        </li>
    </ul>
</div>
