@model Admin1.Models.KhachHang

@{
    ViewData["Title"] = "Sửa Khách Hàng";
}

<h3>Khách hàng</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="makh" class="control-label">Mã KH</label>
                <input asp-for="makh" class="form-control" readonly/>
                <span asp-validation-for="makh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hoten" class="control-label">Họ tên</label>
                <input asp-for="hoten" class="form-control" />
                <span asp-validation-for="hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dchi" class="control-label">Địa chỉ</label>
                <input asp-for="dchi" class="form-control" />
                <span asp-validation-for="dchi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sodt" class="control-label">SĐT</label>
                <input asp-for="sodt" class="form-control" />
                <span asp-validation-for="sodt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngsinh" class="control-label">Ngày sinh</label>
                <input asp-for="ngsinh" class="form-control" />
                <span asp-validation-for="ngsinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngdk" class="control-label">Ngày đăng ký</label>
                <input asp-for="ngdk" class="form-control" />
                <span asp-validation-for="ngdk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doanhso" class="control-label">Doanh số</label>
                <input asp-for="doanhso" class="form-control" />
                <span asp-validation-for="doanhso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label">Username</label>
                <input asp-for="username" class="form-control" readonly/>
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loaitk" class="control-label">Loại tài khoản</label>
                <input asp-for="loaitk" class="form-control" />
                <span asp-validation-for="loaitk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

